body{
    font-size: 25px;
    margin: 0;
}

.cap{
    font-size: large;
    background-image: url(/images/landing.jpg);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.sect1{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-between
    font-size: medium;
}

.whatSpoty{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 30px;
}
.sect2{
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    
}
.whatSpoty{
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
    
.speaker{
    text-align: center;
    width:20%;
    
}
#ispeaker{
    text-align: center;
    width: 100%;
}
.hd{
    text-align: center;
    width:20%;
}
#iquality{
    text-align: center;
    width: 100%;
}
.phone{
    text-align: center;
    width: 20%;
}
#idivices{
    text-align: center;
    width: 100%;
}

Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
