body{
    font-size: 25px;
    margin: 0;
}

.cap{
    font-size: large;
    background-image: url(/images/landing.jpg);
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    color:white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}
.sect1{
    display: flex;
    position: fixed;
    background-color: white;
    width: 100%;
    justify-content: space-around;
    font-size: medium;
}

.whatSpoty{
    display: flex;
    flex-direction: row;
}

.logo{
    height: 30px;
}
.sect2{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.speaker{
    text-align: center;
    width:20%;

}



Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
